<div class="container_big-card">

    <div class="big-card_photo">
        <img src="../../../assets/img/photo.png" alt="" height="200px" srcset="">
    </div>
    <div class="big-card_title">
        <h1><a href="#">Lorem ipsum dolor sit amet consectetur.</a></h1>
    </div>
    <div class="big-card_description">
        <p><a href="#">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad deserunt asperiores tenetur eos quas consequatur
            voluptates eaque magni cumque esse quisquam necessitatibus officiis, reiciendis laudantium sed suscipit
            placeat velit mollitia!</a></p>
    </div>

</div>

