<div class="container_content">
    <div class="container_cover">
        <img src="" alt="" srcset="">
    </div>
    <div class="container_title">
        <h1>MEU ARTIGO</h1>
    </div>
    <div class="container_description">
        <P>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident molestiae placeat, exercitationem numquam quasi excepturi velit quia odit cumque? Eius aperiam doloremque iure debitis ab? Provident aut consectetur recusandae magnam?
        </P>
    </div>
</div>
